gi_taxid*
venv*/
*.xml
papara*
RAxML*
venv_physcraper2
taxonomy/*
peyotl/
standard-RAxML
*.pyc
*.pyo
*.aux
*.log
build/
Physcraper.egg-info/*
standard-RAxML-master/*
tests/output/*

blast2genus/

blast2genus_highhits_limitblast_simseq/

blast2genus_may/

blast2genus_nothresh/

mean_test/
Senecio_*
