gi_taxid*
venv*/
*.xml
papara*
RAxML*
venv_physcraper2
taxonomy/*
peyotl/
standard-RAxML
*.pyc
*.pyo
*.aux
*.log
build/
tests/data/precooked/fixed/local-blast/*.nin
tests/output/*
tests/data/precooked/fixed/local-blast/Senecio_scopolii_subsp._scopolii_db.nhr
tests/data/precooked/fixed/local-blast/Senecio_scopolii_subsp._scopolii_db.nsq
