venv*/
*.xml
*.pyc
*.pyo
*.aux
*.log
*.p
*.tre
build/
Physcraper.egg-info/*
tests/output/*
tests/data/precooked/*
docs/example_scripts/output/*
tests/data/tmp/*
tests/debugging/*
tests/tmp
tests/fromfile
.Rproj.user
*Rproj
*Rhistory
cit*xt
*.ipynb
src/
dist/
.DS_Store
ott3.1*
*.tsv
physcraper_example_minimal/
scrape_ot_350_compact/
physcraper_example_ot_350/
taxonomy/full_seqs/
*.fas
taxonomy/*.dmp
taxonomy/*.tar*
taxonomy/downloaded_ncbi_sequences/
README.html
tmp.py
