[blast]
location = remote
e_value_thresh = 0.001
Entrez.email = ejmctavish@gmail.com
hitlist_size = 10

[phylesystem]
location = api
#local or api

[ncbi.taxonomy]
ott_ncbi = /home/ejmctavish/projects/otapi/physcraper/taxonomy/ott_ncbi
get_ncbi_taxonomy = /home/ejmctavish/projects/otapi/physcraper/taxonomy/get_ncbi_taxonomy.sh
ncbi_dmp = /home/ejmctavish/ncbi/gi_taxid_nucl.dmp

[physcraper]
seq_len_perc = 0.8
