[blast]
location = remote
e_value_thresh = 0.001
Entrez.email = ejmctavish@gmail.com
hitlist_size = 10
#Use your email address, please


[physcraper]
seq_len_perc = 0.8
#This is how much shorter new sequences are alllowed to be compared to your original sequence lengths.


#Things below here you should not need to change!

[phylesystem]
location = api
#local or api, leave set to api unless you have installed phylesystem locally


[ncbi.taxonomy]
ott_ncbi = taxonomy/ott_ncbi
get_ncbi_taxonomy = taxonomy/get_ncbi_taxonomy.sh
ncbi_dmp = taxonomygi_taxid_nucl.dmp
#You should not need to change any of these these!


