[blast]
e_value_thresh = 0.001
#The statistcal cutoff for matches
unmapped = keep
# unmapped remove: remove tips, keep = set to id of mrca

Entrez.email = ejmctavish@gmail.com
#Use your email address, please, this is just for NCBI records
hitlist_size = 10
#the max number of matches for each search
location = remote
#Options [local, remote]
#Unless you have set up a local blast database, leave as remote
#url_base = 
#default url_base is ncbi, to run on AWS set url here
#localblastdb = /shared/localblastdb_meta/

#Only required if blast location is local
num_threads = 2
gb_id_filename = True

[physcraper]
seq_len_perc = 0.8
#This is how much shorter new sequences are alllowed to be compared to your original sequence lengths.

#---------------------------------------------------------------------------------
#Things below here you should not need to change!

[phylesystem]
location = api
#local or api, leave set to api unless you have installed phylesystem locally


[taxonomy]
ott_ncbi = taxonomy/ott_ncbi
get_ncbi_taxonomy = taxonomy/get_ncbi_taxonomy.sh
ncbi_dmp = taxonomy/gi_taxid_nucl.dmp
id_pickle = taxonomy/id_dmp.p
#You should not need to change any of these!

