argparse
biopython==1.76
configparser
coverage
docutils<0.18
DendroPy
DateTime
nexson
-e git+https://github.com/OpenTreeOfLife/python-opentree@main#egg=opentree
pandas

requests
sh
urllib3>=1.23

m2r2
matplotlib
numpy
pytest
pytest-cov
pytest-xdist

recommonmark
sphinx

#past
future

matplotlib
