argparse
biopython==1.76
configparser
coverage
DendroPy
DateTime
-e git+https://github.com/OpenTreeOfLife/python-opentree@get-tree#egg=opentree

opentree
pandas

requests
sh
urllib3>=1.23

numpy
pytest
pytest-cov
pytest-xdist

m2r
recommonmark

#past
future


