#!/usr/bin/env python
from physcraper import wrappers

study_id = "pg_238"
tree_id = "tree110"
seqaln = "shard/ascomycota_alt/rpb2.fas"
mattype="fasta"
workdir="rpb2"

configfi = "/share/work1/ejmctavish/physcraper/config"

wrappers.standard_run(study_id,
                      tree_id,
                      seqaln,
                      mattype,
                      workdir,
                      configfi)

