#!/usr/bin/env python
from physcraper import StudyInfo, PhyscraperSetup, PhyscraperScrape
import pickle
import sys
import os

study_id = "pg_238"
tree_id = "tree110"
seqaln = "shard/ascomycota_rpb1/rpb1.fas"
mattype="fasta"
runname="rpb1"
 
sys.stdout.write("setting up StudyINfo\n")
sys.stdout.flush()

info = StudyInfo(study_id, tree_id, seqaln, mattype)
sys.stdout.write("setting up scrape instance\n")
sys.stdout.flush()
 
setup_pickfi = '{}/{}_setup.p'.format(runname,runname)
scrape_pickfi = '{}/{}_scrape.p'.format(runname,runname)
 
if os.path.isfile(scrape_pickfi): 
    scrape = pickle.load(open(scrape_pickfi,'rb'))
elif os.path.isfile(setup_pickfi): 
    setup = pickle.load(open(setup_pickfi,'rb'))
    scrape = PhyscraperScrape(setup)
else:
    setup = PhyscraperSetup(info, runname, configfi="config")
    setup.setup_physcraper()
    pickle.dump(setup, open(setup_pickfi, 'wb'))
    scrape = PhyscraperScrape(setup)

sys.stdout.write("Instance set up\n")
sys.stdout.flush()

scrape.generate_streamed_alignment()
scrape.write_labelled()
 
