[blast]
location = remote
e_value_thresh = 0.001
Entrez.email = ejmctavish@gmail.com
hitlist_size = 10

[physcraper]
seq_len_perc = 0.8

[phylesystem]
location = api
#local or api

[taxonomy]
ott_ncbi =  taxonomy/ott_ncbi
get_ncbi_taxonomy = taxonomy/get_ncbi_taxonomy.sh
ncbi_dmp = taxonomy/gi_taxid_nucl.dmp
id_pickle = taxonomy/id_dmp.p
